
*.Release
*.Debug
*.exe
*.o
*.user
*.orig

bin/Makefile
bin/*.cpp

bin/debug/
bin/release/
bin/build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/
bin/build-FairytaleFactoryFantastica-RSSLL_Qt_5_2_0_MinGW_32bit-Debug/
bin/build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/
bin/build-FairytaleFactoryFantastica-Desktop_Qt_5_2_0_MinGW_32bit-Debug/

build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/
build-FairytaleFactoryFantastica-Desktop_Qt_5_2_0_clang_64bit-Debug/
build-FairytaleFactoryFantastica-Desktop_Qt_5_2_0_MinGW_32bit-Debug/
build-FairytaleFactoryFantastica-RSSLL_Qt_5_2_0_MinGW_32bit-Debug/
build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/release/qrc_gateSprites.cpp
build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/release/qrc_gateSprites.cpp
build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/release/qrc_gateSprites.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/Makefile
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_imageResources.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_qmlResources.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/moc_Barrager.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/moc_GuiGameController.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/moc_MusicPlayer.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/moc_NetworkInterface.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/moc_qtquick2applicationviewer.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_MonkeysSpinningMonkeys.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_audioResources.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_forkliftResources.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_gateSprites.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_guiButtonsResources.cpp
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/release/qrc_menuResources.cpp
