
*.Release
*.Debug
*.exe
*.o
*.user
*.orig

bin/Makefile
bin/*.cpp

bin/debug/
bin/release/
bin/build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/
bin/build-FairytaleFactoryFantastica-RSSLL_Qt_5_2_0_MinGW_32bit-Debug/
bin/build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/
bin/build-FairytaleFactoryFantastica-Desktop_Qt_5_2_0_MinGW_32bit-Debug/
build-FairytaleFactoryFantastica-GDP7_Qt_5_2_0_MinGW_32bit-Debug/
build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Debug/
build-FairytaleFactoryFantastica-Desktop_Qt_5_2_1_MinGW_32bit-Debug/
build-FairytaleFactoryFantastica-DEV_Qt_5_2_0_32bit_MinGW_4_8_0_32bit-Release/
build-FairytaleFactoryFantastica-Desktop_Qt_5_2_0_clang_64bit-Debug/
build-FairytaleFactoryFantastica-Desktop_Qt_5_2_0_MinGW_32bit-Debug/
build-FairytaleFactoryFantastica-RSSLL_Qt_5_2_0_MinGW_32bit-Debug/
